<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/header_footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <% if(messages.error) { %>
        <%= messages.error %>
    <% } %>
    <header>
        <div id="header_div">
            <span id="fakelos">Fakelos</span>
            <% if (name != null) { %>
                <span id="user_name">Hello, <%= name %></span>
                <form action="/logout?_method=DELETE" method="POST" id="logout_form">
                    <button id="logout_button" type="submit">Log Out</button>
                </form>
            <% }else{ %>
                <a href="/register" class="acc_buttons">Register</a>
                <a href="/login" class="acc_buttons">Login</a>
            <% } %>
            <a href="/cart" class="cart"><img src="imgs/cart.png"></a>
        </div>  
        <ul class="nav_bar">
            <a class="nav_ref" href="/">Home</a>
            <a class="nav_ref" href="/storage?category=technology">Technology</a>
            <a class="nav_ref" href="/storage?category=fashion">Fashion</a>
            <a class="nav_ref" href="/storage?category=hobby">Hobby</a>   
            <div class="search">
                <input type="text" minlength="3" autocomplete="off" id="search_value"><br>
                <button id="search_button" onclick="search_function()">Search</button>
            </div>  
            <a class="nav_ref" href="/contact">Contact Us</a>      
        </ul> 
    </header>
    <div id="contact_div">
        <form action="/contact" method ="POST" class="contact_form" autocomplete="off">
            <label for="email">Your email</label>
            <input type ="email" id="email" name="email" required>
            <label for="theme">Subject</label>
            <input type ="text" id="theme" name="theme" required>
            <label for="message">Your message</label>
            <textarea name="message" id="message" maxlength="350"></textarea>
            <button type="submit" id="send_message">Send</button>
            <% if (message == 1) { %>
                <label id="inform">Thank you for sending us a message!</label>
            <% } %> 
        </form>
    </div>   
    <footer class="footer">
        <div id="upper_footer">
            <div class="who">
                <label>Who Am I</label>
                <p>I am a senior student at the University of Macedonia on the apartment of Applied Informatics.</p>
            </div>
            <div class="offer">
                <label>What Can I Offer(with reasonable scale)</label>
                <ul>
                    <li><p>Web Development and Design</p></li>
                    <li><p>Software Development and Design</p></li>
                    <li><p>Game Development and Design</p></li>
                    <li><p>Absolutely Everything</p></li>
                </ul>
            </div>
            <div id="contact_socials">
                <a id="contact" href="/contact">Contact Me</a>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>

            </div>
        </div>
        <div id="copyright">
            <p>Copyright &copy fakelos</p>
        </div>

    </footer>
    <script src="js/contact.js"></script> 
</body>
</html>