<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/header_footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/product.css">
</head>
<body>
    <header>
        <div id="header_div">
            <span id="fakelos">Fakelos</span>
            <% if (name != null) { %>
                <span id="user_name">Hello, <%= name %></span>
                <form action="/logout?_method=DELETE" method="POST" id="logout_form">
                    <button id="logout_button" type="submit">Log Out</button>
                </form>
            <% }else{ %>
                <a href="/register" class="acc_buttons">Register</a>
                <a href="/login" class="acc_buttons">Login</a>
            <% } %>
            <p id="reviews_p" hidden><%=JSON.stringify(reviews)%></p>
            <a href="/cart" class="cart"><img src="imgs/cart.png"></a>
        </div>  
        <ul class="nav_bar">
            <a class="nav_ref" href="/">Home</a>
            <a class="nav_ref" href="/storage?category=technology">Technology</a>
            <a class="nav_ref" href="/storage?category=fashion">Fashion</a>
            <a class="nav_ref" href="/storage?category=hobby">Hobby</a>   
            <div class="search">
                <input type="text" minlength="3" autocomplete="off" id="search_value"><br>
                <button id="search_button" onclick="search_function()">Search</button>
            </div> 
            <a class="nav_ref" href="/contact">Contact Us</a>        
        </ul>
    </header>
    <div id="content">
        <ul id="nav_history">

        </ul>
        <label id="access" hidden><%= JSON.stringify(product) %></label>
        <label id="relatedp" hidden><%= JSON.stringify(related) %></label>
        <ul id="product_info">

        </ul>
        <div id="related">
            <span id="related_span">Related Products:</span>
            <ul id="related_ul">

            </ul>
        </div>
        <div id="reviews">
            <div id="leave_review">
                <label id="leave_review_label">Share your experience!</label>
                <labe id="rating_label">1. Rating</labe>
                <ul class="stars">
                    <label>
                        <input type="radio" name="radio" onclick="fill(1)" checked>
                        <img id="st1" src="imgs/star.png">
                    </label>
                    <label>
                        <input type="radio" name="radio" onclick="fill(2)">
                        <img id="st2" src="imgs/star_1.png">
                    </label>
                    <label>
                        <input type="radio" name="radio" onclick="fill(3)">
                        <img id="st3" src="imgs/star_1.png">
                    </label>
                    <label>
                        <input type="radio" name="radio" onclick="fill(4)">
                        <img id="st4" src="imgs/star_1.png">
                    </label>
                    <label>
                        <input type="radio" name="radio" onclick="fill(5)">
                        <img id="st5" src="imgs/star_1.png">
                    </label>
                </ul>
                <label id="comment_label">2. Comments</label>
                <form class="review_form" method="POST" action="/product?review=true">
                    <input type="hidden" id="radio_value" name="rv" value="">
                    <input type="hidden" id="product_id_input" name="pid" value="">
                    <textarea name="text" rows="3" maxlength="350" required></textarea>
                    <button type="submit">Review this product!</button>
                </form>
            </div>
            <div class="see_reviews">
                <button id="show_all_reviews" onclick="show_reviews()">See other customer reviews!</button>
                <ul id="all_reviews">

                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div id="upper_footer">
            <div class="who">
                <label>Who Am I</label>
                <p>I am a senior student at the University of Macedonia on the apartment of Applied Informatics.</p>
            </div>
            <div class="offer">
                <label>What Can I Offer(with reasonable scale)</label>
                <ul>
                    <li><p>Web Development and Design</p></li>
                    <li><p>Software Development and Design</p></li>
                    <li><p>Game Development and Design</p></li>
                    <li><p>Absolutely Everything</p></li>
                </ul>
            </div>
            <div id="contact_socials">
                <a id="contact" href="/contact">Contact Me</a>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>

            </div>
        </div>
        <div id="copyright">
            <p>Copyright &copy fakelos</p>
        </div>

    </footer>
    <script src="js/product.js"></script>  
</body>
</html>