<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/header_footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/storage.css">
</head>
<body>
    <header>
        <div id="header_div">
            <a href="/" id="fakelos">Fakelos</a>
            <% if (name != null) { %>
                <span id="user_name">Hello, <%= name %></span>
                <form action="/logout?_method=DELETE" method="POST" id="logout_form">
                    <button id="logout_button" type="submit">Log Out</button>
                </form>
            <% }else{ %>
                <a href="/register" class="acc_buttons">Register</a>
                <a href="/login" class="acc_buttons">Login</a>
            <% } %>
            <a href="/cart" class="cart"><img src="imgs/cart.png"></a>
        </div>  
        <ul class="nav_bar">
            <a class="nav_ref" href="/">Home</a>  
            <div class="search">
                <input type="text" minlength="3" autocomplete="off" id="search_value"><br>
                <button id="search_button" onclick="search_function()"><img src="imgs/search.png"></button>
            </div>        
            <a class="nav_ref" href="/contact">Contact Us</a>
        </ul> 
    </header>
    <div id="content">
        <ul id="nav_history">

        </ul>
        <label id="access" hidden><%= category %></label>
        <% if (sub_table != null) { %>
            <label id="access_sub" hidden><%=JSON.stringify(sub_table)%></label>
            <label id="access_prods" hidden>null</label>
        <% } else if( product_table != null){ %>
            <label id="access_sub" hidden>null</label>
            <label id="access_prods" hidden><%= JSON.stringify(product_table) %></label>
        <% } %>
        <ul id="sub_ul">

        </ul>
        <div id="filters_and_products">
            <div id="filters_div">
                <label id="filters_label">Filters</label>
                <div class="filters_form">
                    <label>Select manufacturer</label>
                    <ul id="manufacturer_list">
                        <li class="mli">
                            <input type="radio" name="same" id="all" onclick="change_manu_val('all')" checked>
                            <label for="all">all</label>
                        </li>
                    </ul>
                    <input type="hidden" id="mval" name="mval" value="all">
                    <label for="sort_id">Sort products</label>
                    <select id="sort_id" name="sortid" >
                        <option value="" disabled selected>Sort by</option>
                        <option value="p">Popularity</option>
                        <option value="pa">Price ascending</option>
                        <option value="pd">Price descending</option>
                        <option value="ra">Rating ascending</option>
                        <option value="rd">Rating descending</option>
                    </select>
                    <label for="price_range">Price Range</label>
                    <span class="price_range">
                        <input id="min_price_input" type="number" min="1" max="50" value="5" onchange="change_min_price(this.value)">
                        <input id="min_price" type="range" min="1" max="50" value="5" onchange="change_min_price(this.value)">
                    </span>
                    <button id="applyfilters" onclick="filter_products()">Apply Filters</button>
                </div>
            </div>
            <ul id="products">
                
            </ul>
        </div>
    </div>
    <footer class="footer">
        <button onclick="topFunction()" id="backtotop">Go back to top</button>
        <div id="upper_footer">
            <div class="who">
                <label>Who Am I</label>
                <p>I am a senior student at the University of Macedonia on the apartment of Applied Informatics.</p>
            </div>
            <div class="offer">
                <label>What Can I Offer(with reasonable scale)</label>
                <ul>
                    <li><p>Web Development and Design</p></li>
                    <li><p>Software Development and Design</p></li>
                    <li><p>Game Development and Design</p></li>
                    <li><p>Absolutely Everything</p></li>
                </ul>
            </div>
            <div id="contact_socials">
                <a id="contact" href="/contact">Contact Me</a>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>

            </div>
        </div>
        <div id="copyright">
            <p>Copyright &copy fakelos</p>
        </div>

    </footer>
    <script src="js/storage.js"></script>  
</body>
</html>