

#cart_products{
    list-style-type: none;
    padding: 20px;
}

.product_li{
    border-bottom: 2px solid #e1e1e1;
    display: flex;
    padding: 16px;
    background: white;
    border-radius: 10px;
}

.product_li img{
    height: 180px;
    width: 180px;
    flex: 1;
}

.details{
    flex: 7;
    display:flex;
    flex-direction: column;
}

.details a,.details #price,.details #count{
    text-align: center;
    color: black;
}

#title{
    font-size: 20px;
}

#ximg{
    width: 16px;
    height: 16px;
}

#price{
    margin-top: 20px;
    font-size: 16px;
}

#remove_a{
    margin-top: 20px;
}
#count{
    font-size: 16px;
}

.details #total_item{
    text-align: right;
    margin-top: auto;
}

.proceed{
    display: flex;
    flex-direction: column;
    padding: 10px 20;
    align-items: flex-end;
}

.proceed button{
    padding: 4px 20px;
    font-size: 24px;
    color: white;
    background: #30B54F;
    border-radius: 8px;
    font-weight: bold;
    margin: 10px 0px;

}

#total_label{
    margin: 10px 0px;
}
#total_ul{
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    margin: 0px 8px;

}

