#access{
    text-align: center;
}

.error p{
    text-align: center;
}

#product_info{
    display: flex;
    border-radius: 2px;
    margin: 10px;
    flex-direction: column;
    padding: 10px;
    list-style-type: none;
}

.product_li{
    background: white;
    border-radius: 10px;
    padding: 20px;
}

#info{
    display: flex;
}

.details{
    display:flex;
    flex-direction: column;
    flex: 4;
    padding-left: 104px;
    
}


.item_image{
    height: 480px;
    flex: 3;
    display: flex;
    justify-content: center;
}

.item_image img{
    max-height: 100%;
    max-width: 100%;  
    display: block; 
    margin: auto;
}

.details h4{
    margin-top: 20px;
}

.details p{
    font-size: 16px;
}
#title{
    font-size: 24px;
}

#price{
    margin: 40px 0px;
    font-size: 24px;
}
#manufacturer{
    font-size: 16px;
}

.details img{
    width: 16px;
    height: 16px;
}

#rating{
    font-size: 16px;
}

#description{
    margin-top: auto;
}

#stock{
    font-size: 16px;
}

#add_to_cart_button{
    width: 240px;
    height: 40px;
    background: #006637;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#related{
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    background: white;
}

#related_span{
    text-align: center;
    border-bottom: 3px solid #F1F1F1;
}

#related_ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px 0px;
}

.related_li{
    display:flex;
    flex-direction: column;
    width: 180px;
    height: 300px;
    margin: 10px 50px;
    padding: 24px;
    background: white;
}

.related_li a{
    color:black;
    margin-top: 20px;
}

.related_li label{
    margin-top: 8px;
    font-size: 16px;
}

#imgdiv{
    width: 180px;
    height: 180px;
}

.related_li img{
    max-width:100%;
    max-height:100%;
}

#leave_review{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.stars{
    display: flex;
    list-style-type: none;
    margin: 10px 0px;
}

.stars img{
    width: 32px;
    height: 32px;
}

.stars img:hover{
    cursor: pointer;
}


#review_area{
    width: 100%;
    resize : none;
    padding: 8px 4px;

}

input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

.see_reviews{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#show_all_reviews{
    background:none;
    border: none;
    text-decoration: underline;
}

#show_all_reviews:hover{
    cursor: pointer;
}

#all_reviews{
    list-style-type: none;
    padding: 0px 20px;
}

.see_reviews li{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.see_reviews textarea{
    width: 100%;
    padding: 8px;
    border: 2px solid #E8E8E8;
    resize: none;
}

.review_form textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #1F2B3A;
    resize: none;
}

#leave_review_label{
    font-size: 32px;
    margin-bottom: 32px;
}

.review_form button{
    padding: 10px 20px;
    color:white;
    background: #FFC107;
    border: none;
    border-radius: 4px;
    margin: 10px 0px;
}

.see_reviews textarea:focus{
    outline: none !important;
    border:2px solid #E8E8E8;
}


#nav_history{
    display: flex;
    list-style-type: none;
}

.history_li{
    margin: 0px 8px;
    font-size: 16px;
}

.history_li a{
    color:black;
    font-size: 16px;
}