#access{
    text-align: center;
}

.nav_ref{
    padding: 0px 20px;
    text-decoration: none;
    color: white;
}
.error p{
    text-align: center;
}

#product_info{
    display: flex;
    border-radius: 2px;
    margin: 10px;
    flex-direction: column;
    padding: 10px;
    list-style-type: none;
}

.product_li{
    background: white;
    border-radius: 10px;
    padding: 20px;
}

#info{
    display: flex;
}

.details{
    display:flex;
    flex-direction: column;
}

.details label{
    margin: 20px 20px;
}

.item_image{
    width:480px;
    height: 360px;
    padding: 10px;
    position: relative;
}

.item_image img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

#description{
    padding: 20px;
    margin-top: 20px;
}

#related{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}

#related_span{
    text-align: center;
    border-bottom: 3px solid #E8E8E8;
}

#related_ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 10px 0px;
}

.related_li{
    display:flex;
    flex-direction: column;
    width: 180px;
    height: 300px;
    margin: 10px 50px;
    padding: 24px;
    background: white;
}

.related_li a{
    color:black;
}

.related_li img{
    width:  180px;
    height: 180px;
}


#add_to_cart{
    margin: 20px 20px;
}

#add_to_cart_button{
    margin: 0px 20px;
}

#typenum{
    padding-left:10px;
}

#reviews{
    border-top: 3px solid #E8E8E8;
}

#leave_review{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.stars{
    display: flex;
    list-style-type: none;
    margin: 10px 0px;
}

.stars img{
    width: 32px;
    height: 32px;
}

.stars img:hover{
    cursor: pointer;
}


#review_area{
    width: 100%;
    resize : none;
    padding: 8px 4px;

}

input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

.see_reviews{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#show_all_reviews{
    background:none;
    border: none;
    text-decoration: underline;
}

#show_all_reviews:hover{
    cursor: pointer;
}

#all_reviews{
    list-style-type: none;
    padding: 0px 20px;
}

.see_reviews li{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.see_reviews textarea{
    width: 100%;
    padding: 8px;
    border: 2px solid #E8E8E8;
    resize: none;
}

.review_form textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #1F2B3A;
    resize: none;
}

#leave_review_label{
    font-size: 32px;
    margin-bottom: 32px;
}

.review_form button{
    padding: 10px 20px;
    color:white;
    background: #FFC107;
    border: none;
    border-radius: 4px;
    margin: 10px 0px;
}

.see_reviews textarea:focus{
    outline: none !important;
    border:2px solid #E8E8E8;
}