#product_info{
    border: 1px solid #CBCBCB;
    display: flex;
    border-radius: 2px;
    background: #F3F3F3;
    flex-direction: column;
}

#filters_div{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
}

#filters_and_products{
    display: flex;
    margin: 40px 0px;
}

#products{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    flex: 4;
}

.info{
    display : flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.item_image{
    width:240px;
    height: 180px;
    padding: 10px;
    position: relative;
}
.item_image img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

.single_item{
    border-top: 3px solid #E8E8E8;
    display:flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
}

#manufacturer{
    font-size: 16px;
    margin-top: auto;
}

#starimg{
    width: 16px;
    height: 16px;
}

#rating{
    font-size: 16px;
}

#price{
    margin: 20px 0px;
}

.single_item a{
    color:black;
}

#cat_label{
    font-weight: bold;
    font-size: 16px;
}

#sub_ul{
    display: flex;
    list-style-type: none;
}

.sub_cat_li{
    padding: 20px 40px;
    background:#1F2B3A;
    border-radius: 4px;
    margin: 10px 20px;
}

.sub_cat_li a{
    color:white; 
}

#nav_history{
    display: flex;
    list-style-type: none;
}

.history_li{
    margin: 0px 10px;
    font-size: 16px;
}

.history_li a{
    color:black;
    font-size: 16px;
}

.filters_form{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.filters_form select{
    margin-bottom: 40px;
}

.filters_form button{
    padding: 0px 20px;
}

#manufacturer_list{
    margin-bottom: 40px;
    list-style-type: none;
}

.filters_form label{
    font-size: 16px;
}

#filters_label{
    margin-bottom: 40px;
    font-size: 24px;
}

.mli label{
    margin-left: 16px;
    font-size: 18px;
}